<footer class="text-center py-3 bg-body-tertiary ">
    <div class="container">
        <p class="mb-0">Created by <a href="https://github.com/prxncxss03" target="_blank" class="text-decoration-underline">prxncxss03</a></p>
    </div>
</footer>
