<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Notes</title>
</head>
<body>
  <h1>Hello World</h1>
  <p>Welcome to Book Notes</p>
  <% if (books.length) { %>
    <ul>
      <% books.forEach(book => { %>
        <li><%= book.Title %></li>
        <li><%= book.Isbn %></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No books found</p>
  <% } %>
</body>
</html>