#custom-max-width {
  max-width: 40rem; 
  text-align: justify;
}

#custom-max-width-2 {
  max-width: 45rem; 
  width: 100%;
}

#error-message {
  display: none;
}

#edit-error-message {
  display: none;
}

.cover-image {
  object-fit: cover;
  aspect-ratio: 16 / 9; 
}


