@import url('/assets/fonts/sofia-pro-webfont/style.css');

h1 {
  background: linear-gradient(to right, #fffc00,  #ffffff); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-container {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-self: center;
  transition: all 0.5s ease-in-out;
}

.about-main-content-container{
  display: flex;
  gap: 2rem;
}

.about-paragraph {
  line-height: 1.5;
}

/* mobile responsive */
@media (max-width: 900px) {
  .about-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
  }

  .image-1{
    max-width: 25rem;
  }
  
  .about-main-content-container {
    flex-direction: column;
  }
}

/* mobile responsive */
@media (min-width: 375px) {
  .about-container {
    padding: 0;
  }
  .about-container div {
    padding: 0;
  }

  .about-main-content-container {
    padding: 0;
  }
}


@media only screen and (max-width: 599px) {
  .about-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.35rem;
  }

  .image-1{
    max-width: 25rem;
  }
  
  .about-main-content-container {
    flex-direction: column;
  }
}

