@import url("/assets/fonts/sofia-pro-webfont/style.css");

h1 {
  background: linear-gradient(to right, #5b60d2, #e0b0ff, #e0b0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-icon {
  width: 1.2rem;
}

.project-box-container {
  display: block;
  border: 1px solid var(--accent-color-1);
  border-radius: 8px;
}

.project-box-container:hover {
  border-radius: 8px;
}

.project-header {
  display: flex;
  gap: 0.35rem;
}

.featured-proj-container {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }

  .featured-proj-container {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  #general-body-container {
    min-height: 100vh;
  }
}
